{% extends 'base.html' %}

{% block title %}
История
{% endblock %}

{% block content %}
<h1>История</h1>
<p>Железнодорожный вокзал — здание или комплекс зданий на железнодорожной станции, предназначенное для обслуживания пассажиров. Кроме собственно здания в вокзал могут включаться павильоны, пассажирские платформы, вокзальные переходы (пешеходные тоннели, мосты, конкорсы), малые архитектурные формы. Иногда железнодорожные вокзалы могут быть в составе комбинированных вокзалов, к примеру железнодорожно-автобусных, либо входить в состав транспортно-пересадочных узлов в виде отдельно стоящего здания или совмещённого единого здания. Также, некоторые вокзалы могут быть объединены (блокированы) со служебными зданиями железнодорожной станции (посты ЭЦ, здания связи, товарные конторы и т. д.), либо с общественными зданиями (почтамты, гостиницы, рестораны, торговые комплексы и т. д.)
    Само слово «вокзал» появилось в русском языке к концу XIX века, став нарицательным применительно к зданиям для пассажиров именно на железнодорожных станциях, от названия «Воксалъ» (от англ. Vauxhall — воксал) у подобного здания на Павловской станции (тогда пригороде Санкт-Петербурга) первой в России Царскосельской железной дороги общего назначения. В XX веке слово «вокзал» стало применяться и в отношении пассажирских зданий других видов транспорта (водного, авиационного, автобусного).
    Первыми в истории российскими вокзалами были таким образом именно вокзалы Царскосельской железной дороги, в том числе Павловский. Далее к ним присоединились Витебский в Санкт-Петербурге, Рижский (Виндавский) и Казанский (Рязанский) вокзалы в Москве Московско-Виндаво-Рыбинской железной дороги. После прокладки ветки Москва — Санкт-Петербург и бума прокладки железнодорожных путей, вокзалы начали массово строить в городах, где проходила железная дорога. На станции Слюдянка в Иркутской области вокзал построен целиком из мрамора. В 1870 году был построен один из первых вокзалов Эстляндской губернии — вокзал посёлка Аэгвийду. В 1876 году сдан в эксплуатацию Самарский вокзал.
    Первые в мире вокзалы были построены в 1822—1825 годах на железной дороге Стоктон — Дарлингтон.
    В истории имели место случаи, когда вокзалы перестраивались из одного типа в другой. Например, вокзал станции Астрахань I Рязано-Уральской железной дороги был построен в 1909 году как тупиковый, поскольку продолжение линии на юг не планировалось. Однако впоследствии, при строительстве в годы Великой Отечественной войны линии Астрахань — Кизляр, пути обогнули вокзал и из торцевого он стал продольным.
</p>

<div class="img_rl">
    <img class="about__img" src="{{url_for('static', filename='img/images.jpg')}}" alt="#">
    <img class="about2__img" src="{{url_for('static', filename='img/images2.jpg')}}" alt="#">
    <img class="about1__img" src="{{url_for('static', filename='img/images1.jpeg')}}" alt="#">
</div>
{% endblock %}