body {
    margin: 0;
    background-image: url(https://www.pnp.ru/upload/entities/2021/05/29/00/article/detailPicture/fb/e8/c3/eb/275a331b5d0cc8922a18054deaad55b3.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rl__st {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    flex: 1 1 auto;
}


p {
    color: white;
}
/*HEADER*/
header {
    position: sticky;
    top: 0;
    padding: 20px;
    background: #e7e5e4;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15)
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    width: 64px;
    height: 64px;
}

/*FOOTER*/
footer {
    padding: 20px;
    background: #e7e5e4;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15)
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.footer__img {
    width: 40px;
    height: 40px;
}

.img_rl {
    display: flex;
    justify-content: center;
    flex-direction: line;
    min-height: 100vh;
    gap: 8px;
}


.about__img {
    width: 30%;
    height: 50%;
}

.about1__img {
    width: 30%;
    height: 50%;
}

.about2__img {
    width: 30%;
    height: 50%;

