{% extends 'base.html' %}

{% block title %}
Ж/Д вокзал
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Illo magnam porro totam velit?</li>
<li>Consectetur dicta neque quos veritatis.</li>
<li>Animi laboriosam sit sunt temporibus.</li>
<li>Dolores doloribus impedit praesentium quam!</li>
<li>Debitis incidunt nesciunt perspiciatis sunt!</li>
<li>Delectus est exercitationem ipsam labore!</li>
<li>Aliquam quaerat rem sequi vero!</li>
<li>Assumenda consequatur molestiae reiciendis unde!</li>
<li>Adipisci consectetur officiis veniam? Repudiandae.</li>
<li>Consequatur ipsa laboriosam laudantium quaerat?</li>
<li>Cum error facere temporibus voluptatum!</li>
<li>Hic labore laudantium necessitatibus voluptate.</li>
<li>Aliquam eligendi nostrum optio quidem.</li>
<li>Aut fugit maiores nam vero.</li>
<li>Consequatur minima nemo repellendus sit?</li>
<li>Aspernatur quos tempora voluptatem voluptates?</li>
<li>Assumenda beatae eum ex quam!</li>
<li>Deserunt dicta error quasi repudiandae.</li>
<li>Consectetur eius eveniet laborum possimus!</li>
<li>Assumenda eligendi eveniet officiis sapiente!</li>
<li>Esse neque numquam recusandae veniam!</li>
<li>Architecto id obcaecati rem vel?</li>
<li>Ipsum non pariatur sed veritatis!</li>
<li>Assumenda commodi culpa dolorum mollitia.</li>
<li>Accusantium ex magnam repellat velit.</li>
<li>Aspernatur at in nihil odit?</li>
<li>Dicta iusto officia quod totam.</li>
<li>Illum molestias nobis officiis pariatur?</li>
<li>Consectetur optio perferendis repellat ullam?</li>
<li>Deserunt dolores facere placeat provident.</li>
<li>Eligendi id nam nesciunt quasi!</li>
<li>At consequuntur laboriosam sunt vero.</li>
<li>Aspernatur aut nam obcaecati quaerat!</li>
<li>Ab animi deleniti enim quia!</li>
<li>Adipisci eveniet possimus ratione temporibus!</li>
<li>Cum hic obcaecati recusandae voluptates?</li>
<li>Aperiam consequuntur iste libero quod.</li>
<li>Aliquid dolorem incidunt minus perferendis?</li>
<li>Beatae commodi dicta illo sint.</li>
<li>Amet ex facere nulla soluta!</li>
<li>A exercitationem itaque molestias nam!</li>
<li>Consectetur eveniet numquam quos! Excepturi?</li>
<li>Commodi illum molestiae sequi sint!</li>
<li>Id laborum nisi omnis? Sit.</li>
<li>Accusantium maiores obcaecati sapiente voluptas.</li>
<li>Earum labore modi nulla ut.</li>
<li>Aspernatur at ipsa odio voluptatum.</li>
<li>Cupiditate ea hic impedit ullam.</li>
<li>Distinctio iure libero maiores placeat!</li>
<li>Debitis eveniet facere obcaecati sapiente?</li>
<li>Accusantium assumenda commodi consequatur ex?</li>
<li>Aliquam itaque iure molestias quisquam.</li>
<li>At et placeat voluptas voluptatem?</li>
<li>Inventore nam nemo quas quisquam.</li>
<li>Esse harum ipsa odit rem?</li>
<li>Atque culpa ducimus laudantium sequi?</li>
<li>Cum dolore illo maiores sapiente.</li>
<li>Adipisci id optio quo voluptates!</li>
<li>Debitis eius itaque nihil perferendis?</li>
<li>Excepturi modi non quasi unde?</li>
<li>Cupiditate impedit odio quod ratione.</li>
<li>Esse magnam natus quis repellendus!</li>
<li>Delectus ipsam nulla quibusdam velit.</li>
<li>Et illo odit quo voluptatibus.</li>
<li>Aliquam amet consequuntur incidunt quisquam!</li>
<li>Dolorum eius eligendi officia suscipit.</li>
<li>Architecto cum modi natus praesentium!</li>
<li>Animi cum eligendi incidunt magni?</li>
<li>Atque iusto numquam placeat ut!</li>
{% endblock %}